<!DOCTYPE html>
<html>
  <head>
    <title>ダンマス / DnM 「Dungeon and Masters」</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
  
    <div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand active" href="/">Dungeon and Masters</a>
            <ul class="navbar-items"></ul>
            </div>
          <ul class="nav navbar-nav le-navbar-table">
            <li class="active"><a href="/">ホーム</a></li>
            <li><a href="helo">マップ</a></li>
            <li><a href="assets">アセット</a></li>
            <li><a href="trade">トレード</a></li>
          </ul>
        </div>
      </nav>
          
      <div class="maincontent">
      <h1>お知らせ</h1>
      <h3>How to Play<h3>
      <span>You can edit your party via "アセット" tab.</span><br>
      <span>To obtain new units visit "トレード" tab.</span><br>
      <span>"トレード > ショップ" tab is where you can buy stuff from gamemaster.</span><br>
      <span>"トレード > 取引所" is where you can buy stuff from other players.</span><br>
      <span>"トレード > 出品" shows your assets and by selecting an asset you can list your item with the price you specified.</span><br>
      <span>"マップ" tab is where you go for quests with the party you edited.</span><br>
      <span>Pink tile in the center is for newbie level(Lv5-15). </span><br>
      <span>Other colors are glay(Lv15-25), green(Lv30-40), blue(Lv45-55), purple(Lv60-70), and orange(Lv75-85).</span><br>
      <span>Monsters in glay maps may drop currency, if the map belongs to Red flag it drops "Alice", if it is Blue "Bru", Yellow for "Cany", and Green for "Dar".</span><br>
      <span>In other maps you might find gears. "Sword" series is commonly found in "Aliceland", "Stuff" series is in "Brumel", "Bible" series is in "Canyon", "Armour" series is in "Darberg".</span><br>
      <span>Higher gears are exclusively found in its nation. </span>

      <h3>Week.5 実装予定の内容</h3>
      <li>各レアリティ固有のモンスター配置を設定</li>
      <li>更新や戻るで同じマップに挑めなくする(htaccess)(getの直リンクの禁止)</li>
      <li>データ書き換え時にログ出力</li>
      <li>BCD通貨の意味を持たせる</li>
      <li>出品取り下げ機能の追加</li>
      <li>通知を作る</li>
      <li>https化</li>
      <br>
      <h3>Week.4 実装予定の内容</h3>
      <li>【完了】スタミナシステムの追加</li>
      <li>【完了】ログイン画面の設定</li>
      <li>【完了】ワールドマップの最適化</li>
      <li>【完了】ドロップの設定・アイテムの実装</li>
      <li>【完了】ダンジョンプロパティの実装(11種類)</li>
      <li>【完了】情報モーダルの実装</li>
      <li>【完了】アセット画面を3人チームに最適化</li>
      <li>【完了】トレードの値段を自由に設定できる機能を追加</li>
      <li>【完了】新規アカウントの初期化処理</li>
      <li>【完了】各バイオーム固有の背景を設定</li>
      <li>【完了】戦闘画面でのダメージディスプレイ</li>
      <li>【完了】初心者ダンジョンの追加</li>
      <li>【完了】特殊アビリティの作成</li>
      <li>【完了】ぶつり・まほう・しえんキャラクターの作成</li>
      <li>【完了】公開テストの開始</li>
      <br>
      <li>【一部完了】バランス調整</li>
      <br>
      <br>
      <% if (typeof user !== 'undefined') { %>
      <span class="login-user"><%= user.username %>としてログインしています</span>
  <% } %>
      </div>
    </div>
    <script type="text/javascript">
    let stamina = JSON.parse( '<%-stamina%>' );
    let coin=JSON.parse( '<%-usercoin%>' );
    $(function(){
      function separate(num){
        return String(num).replace( /(\d)(?=(\d\d\d)+(?!\d))/g, '$1,');
      }
      let st = Math.floor(stamina[0].stamina + stamina[0].lasttime/1800)
      if ( st > 5){st = 5}
      $('.navbar-header').append("<span class='navfont'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557242934056189963/l0Q2wA6d5uMPCXCCkCfAysZCucVWRdSUuQgD28YYBDxvEYBFyim1xAAAAAElFTkSuQmCC.png'> "+ Math.floor(stamina[0].food + stamina[0].lasttime/60) +"</span>")
      $('.navbar-header').append("<span class='navfont'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557242879593021474/8Twn5GPgRGbUqyC6AopMgCkGWQgWS4gpBlsML4goMgAmGZ8zsfpAmTNVDEA2ZvogYkRBui249NMdCDCDMEWlUTFwhBPB7iSMDxcc.png'> "+ st +"/5</span>")
      $('.navbar-header').append("<span class='navfont'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557255728528752671/BFGGliYAAAAAElFTkSuQmCC.png'> "+ separate(coin[0].alice) +" Alice</span>")
      $('.navbar-header').append("<span class='navfont'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557255579672903702/oX8Rf2EQlnY9UAAAAASUVORK5CYII.png'> "+ separate(coin[0].bru) +" Bru</span>")
      $('.navbar-header').append("<span class='navfont'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557255785923608576/fZAAAAAElFTkSuQmCC.png'> "+ separate(coin[0].cany) +" Cany</span>")
      $('.navbar-header').append("<span class='navfont'><img src='https://cdn.discordapp.com/attachments/402211254627991552/557255682706112513/8D1FtjlFrFaReKVehp2Ms5XlpRf8BsA0EINx9364AAAAASUVORK5CYII.png'> "+ separate(coin[0].dar) +" Dar</span>")
    })

    </script>
  </body>
</html>
